[user]
    name = <username>
    email = <email>
[alias]
    st = status
    lol = log --stat --graph --decorate
    fap = fetch --all --prune
    please = push --force-with-lease
    co = checkout
    ci = commit
[difftool "code"]
    cmd = code  $LOCAL $REMOTE --diff --wait
[mergetool "code"]
    cmd = code --wait $MERGED
[merge]
    tool = code
[diff]
    tool = code
[core]
    editor = code --wait